# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: weekly
      time: '10:00'
      timezone: America/New_York
    commit-message:
      prefix: 'build'
      prefix-development: 'build'
      include: 'scope'
    groups:
      prettier:
        patterns:
          - prettier
          - eslint-plugin-prettier

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: weekly
      time: '10:00'
      timezone: America/New_York
